  <div class="slide" id="cd2">
    <div class="chartTitle">How the southern suburbs shifted toward the DFL</div>
    <div class="chatter">After decades in Republican hands, political wings blew lefward across the Minnesota's Second Congressional District's largest suburbs in 2018, delivering a win to DFLer Angie Craig in a rematch against the GOP's Jason Lewis. </div>
      <div class="map" id="map2">
          <svg viewBox="0 0 520 400" preserveAspectRatio="xMidYMid">
                  <defs>
                      <marker
                        id="arrowR"
                        markerUnits="strokeWidth"
                        markerWidth="10"
                        markerHeight="10"
                        viewBox="0 0 10 10"
                        refX="6"
                        refY="6"
                        orient="auto">
                        <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                      </marker>
                    </defs>
                    <defs>
                          <marker
                            id="arrowD"
                            markerUnits="strokeWidth"
                            markerWidth="10"
                            markerHeight="10"
                            viewBox="0 0 10 10"
                            refX="6"
                            refY="6"
                            orient="auto">
                            <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                          </marker>
                        </defs>
            </svg>
    </div>

      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="votes">Votes</th>
            <th class="pct">Pct.</th>
            <th class="bar"></th></tr></thead>

          <tbody>
            <tr class="party-dfl winner" title="Democratic-Farmer-Labor">
              <td class="winner" title="Democratic-Farmer-Labor">
                <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                <span class="check">✓</span>
              </td>

              <td class="cand bold">
                <span class="first">Angie&nbsp;</span>Craig
                <span class="party-label">dfl</span>
              </td>

              <td class="votes"><span>177,971</span></td>

              <td class="pct"><span class="num">52.8%</span></td>

              <td class="bar" title="Democratic-Farmer-Labor">
                <span class="pctBar" style="width: 52.8%;"></span>
              </td>
            </tr>

            <tr class="party-rep" title="Democratic-Farmer-Labor">
              <td title="Republican Party">
                <span class="candidate-color-label" title="Republican Party"></span>
              </td>

              <td class="cand">
                <span class="first">Jason&nbsp;</span>Lewis
                <span class="party-label">rep</span>
              </td>

              <td class="votes"><span>159,373</span></td>

              <td class="pct"><span class="num">47.2%</span></td>

              <td class="bar" title="Republican Party">
                <span class="pctBar" style="width: 47.2%;"></span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="byline">Chart: Jeff Hargarten, Star Tribune Source: Minnesota Secretary of State, Star Tribune reporting</div>
  </div>

  <div class="slide" id="cd3">
      <div class="chartTitle">How Hennepin's suburbs swung blue</div>
      <div class="chatter">Every precinct in Minnesota's Third Congressional District race in 2018 shifted toward Democrats, resulting in a massive upset when DFL challenger Dean Phillips defeated longtime GOP incumbent Erik Paulsen.</div>
      <div class="map" id="map3">
          <svg viewBox="0 0 520 420" preserveAspectRatio="xMidYMid">
                  <defs>
                      <marker
                        id="arrowR"
                        markerUnits="strokeWidth"
                        markerWidth="10"
                        markerHeight="10"
                        viewBox="0 0 10 10"
                        refX="6"
                        refY="6"
                        orient="auto">
                        <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #8c0808;"></path>
                      </marker>
                    </defs>
                    <defs>
                          <marker
                            id="arrowD"
                            markerUnits="strokeWidth"
                            markerWidth="10"
                            markerHeight="10"
                            viewBox="0 0 10 10"
                            refX="6"
                            refY="6"
                            orient="auto">
                            <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #0258A0;"></path>
                          </marker>
                        </defs>
            </svg>
    </div>

      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="votes">Votes</th>
            <th class="pct">Pct.</th>
            <th class="bar"></th></tr></thead>

          <tbody>
            <tr class="party-dfl winner" title="Democratic-Farmer-Labor">
              <td class="winner" title="Democratic-Farmer-Labor">
                <span class="candidate-color-label" title="Democratic-Farmer-Labor"></span>
                <span class="check">✓</span>
              </td>

              <td class="cand bold">
                <span class="first">Dean&nbsp;</span>Phillips
                <span class="party-label">dfl</span>
              </td>

              <td class="votes"><span>202,402</span></td>

              <td class="pct"><span class="num">55.7%</span></td>

              <td class="bar" title="Democratic-Farmer-Labor">
                <span class="pctBar" style="width: 55.7%;"></span>
              </td>
            </tr>

            <tr class="party-rep" title="Democratic-Farmer-Labor">
              <td title="Republican Party">
                <span class="candidate-color-label" title="Republican Party"></span>
              </td>

              <td class="cand">
                <span class="first">Erik&nbsp;</span>Paulsen
                <span class="party-label">rep</span>
              </td>

              <td class="votes"><span>160,839</span></td>

              <td class="pct"><span class="num">44.3%</span></td>

              <td class="bar" title="Republican Party">
                <span class="pctBar" style="width: 44.3%;"></span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="byline">Chart: Jeff Hargarten, Star Tribune Source: Minnesota Secretary of State, Star Tribune reporting</div>
  </div>

  <div class="slide" id="shift">
      <iframe title="Where Minnesota's suburbs shifted dramatically in 2018" aria-label="Bar Chart" id="datawrapper-chart-jU3Nv" src="https://datawrapper.dwcdn.net/jU3Nv/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="1404"></iframe>
    </div>